body{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
   
    
}
h1{
    font-weight: bold;
}
.navbar{
    text-align: right;
    margin-top: 50px;
    margin-right: 80px;


}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 22px;
    padding: 20px 10px;
}
.RDN{
    color:blueviolet;
}
p{
    font-size: 20px;
}
.Upper-Part{
    height: 500px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.Upper-Part img{
    width: 100%;
    padding-top: 5%;
     
    
}
.button{
    text-decoration: none;
    background-color: orange;
    color: whitesmoke;
    padding: 5px 10px;
    font-weight: 400px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, blue, purple);
}
h3{
    font-weight: 400px;
}
.Middle-Part{
    height: 580px;
    width: 40%;
    float: left;
    margin-left: 5%;
   padding-left: 2%;
}
.Middle-Part h3{
    padding-top: 80px;
}
.Middle-Part p{
    margin-top: 30px;
}
.Middle-Part img{
    width: 100%;
    
}
.Exp{
    height: 1600px;
}
#LWP{
    text-align: center;
    margin-top: 500px;
    height: 650px;
    font-weight: bolder;
}
#L{
    color: blueviolet;
}
.Lower-Part1{
    height: 150px; 
    width: 33%;
    float: left;
    
}
.Lower-Part1 img{
    width: 80%;
}
.Lower-Part2{
    height: 150px; 
    width: 33%;
    float: left;
}
.Lower-Part2 img{
    width: 80%;
}
.Lower-Part3{
    height: 150px; 
    width: 33%;
    float: left;
}
.Lower-Part3 img{
    width: 80%;
}
.shadow{
    box-shadow: 10px 10px 40px black;
}


 